<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="index-con container">
        <div class="index-header">
            <h1> Get</h1>
            <h1>Started!</h1>
        </div>
        <div class="index-card">
            <a href="/login" class="goToLogin"> Login</a>
        
            <a href="/register" class="goToRegister">Register</a>
        </div>
    </div>
</body>
</html>