<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="login-con container">
        <div class="left-login">
            <h1>To Do List App</h1>
        </div>
        <div class="card-login">
            <form action="/login" class="right-login">
                <div class="email-con">
                    <label for="email">Email</label>
                    <input autocomplete="off" type="text" id="email" name="email">
                </div>
                <div class="password-con">
                    <label for="password">Password</label>
                    <input  autocomplete="off" type="password" id="password" name="password">
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
                <div class="oth-option">
                    <p>No account yet?</p>
                    <a href="/register">Register here!</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>